<div class="row">
  <div class="col col-center"><div id="subscriber"></div></div>
  <div class="col col-center"><div id="publisher"></div>
</div>

<!--
<div class="row responsive-sm">
  <div class="col"><div id="subscriber"></div></div>
  <div class="col"><div id="publisher"></div></div>
</div> -->

<!-- <ion-view title="">
    <ion-content padding="false" class="has-header">
        <div class="list card">
            <div class="item item-body">
              <div class="video-container">
                <div id="subscriber"></div>
              </div>
                <button class="button  button-block ">New</button>
            </div>
        </div>
        <div class="list card">
            <div class="item item-body">
              <div class="video-container">
                <div id="publisher"></div>
              </div>
                <button class="button button-stable button-block ">Off</button>
            </div>
        </div>
    </ion-content>
</ion-view> -->

<!-- <div class="video-container">
  <div id="subscriber"></div>
</div>

<div class="video-container">
  <div id="publisher"></div>
</div> -->

<!-- <ot-layout props="{animate:true}">
    <ot-subscriber ng-repeat="stream in streams" id="subscriber"
        stream="stream"
        props="{style: {nameDisplayMode: 'off'}}">
    </ot-subscriber>
    <ot-publisher id="publisher"
        props="{style: {nameDisplayMode: 'off'}, resolution: '1280x720', frameRate: 30}">
    </ot-publisher>

    <button class="button" ng-click="new_pal()">New</button>
</ot-layout> -->
